<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body> <!--image adding logic is wrong here , you need to use static tag here aswell -->
    <img src="C:\Users\Sam\Desktop\django-projects\udemy-blog\myblog\page-not-found-error-404-system-updates-uploading-computing-operation-installation-programs-system-maintenance-a-hand-drawn-layout-template-of-a-broken-robot-illustration-vector.jpg" alt="Page Not found!" >
</body>
</html>