{% extends "base.html" %}

{% load static %}

{% block title %}<title>All Posts</title>{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "posts/post.css" %}">
    <link rel="stylesheet" href="{% static "posts/all_posts.css" %}">
{% endblock css %}

{% block content %}
    <section id="all-posts">
        <h2>My Collected Posts</h2>

        <ul>
            <!--Include the post partial here-->
            {% for post in all_posts %}
            {% include "posts/partials/post.html" %}
            {% endfor %}
        </ul>
    </section>

{% endblock content %}