{% extends "base.html" %}
{% load static %}

{% block title %}<title>{{post.title}}</title>{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "posts/post-details.css" %}">
    
{% endblock css %}

{% block content %}
<section id="summary">
    <h2>{{post.title}}</h2>
    <article>
        <img src="{% static "posts/images/"|add:post.image %}" alt="{{post.title}}">
        <address>By {{post.author}}</address>
        <div>
            Last updated on <time>{{post.date}}</time>
        </div>
    </article>
</section>

<main>
    {{post.content|linebreaks}}
</main>

{% endblock content %}